* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
}

.top-header {
    display: flex;
}

.logo {
    background-color: blue;
    width: 20%;
    height: 80px;
}


.banner {
    background-color: red;
    width: 80%;
    height: 80px;
}

.main-header .nav {
    display: flex;
}

.home {
    background-color: aquamarine;
    width: 10%;
    height: 80px;
}

.product {
    background-color: beige;
    width: 20%;
    height: 80px;
}

.space {
    background-color: rgb(23, 118, 87);
    width: 60%;
    height: 80px;
}

.order {
    background-color: blanchedalmond;
    width: 10%;
    height: 80px;
}

.main {
    display: flex;
}

.side-bar {
    background-color: blanchedalmond;
    width: 15%;
    height: 200px;
}

.list-product {
    background-color: aquamarine;
    width: 85%;
    height: 200px;
}

.footer-content {
    background-color: rgb(165, 127, 255);
    width: 100%;
    height: 50px;
}